.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom blue success toast styling */
.toast-blue {
  background-color: #f8f8f8 !important;
  color: #13466d !important;
  font-weight: bold;
  border-radius: 6px;
}

/* Filled portion of the progress bar */
.toast-blue .Toastify__progress-bar {
  background-color: #3498db !important;
}

/* Background (track) of the progress bar */
.toast-blue .Toastify__progress-bar-theme--light,
.toast-blue .Toastify__progress-bar-theme--colored {
  background: #13466d !important; /* Light blue track */
}
/* Override the green check icon color */
.toast-blue .Toastify__toast-icon svg {
  fill: #13466d !important;  /* Blue icon */
}
